<div *ngIf="!isEditMode">
    <dl>
        <dt>Название</dt>
        <dd>{{cafe.name}}</dd>
    </dl>
    <dl>
        <dt>Адрес</dt>
        <dd>{{cafe.address}}</dd>
    </dl>
    <dl>
        <dt>Описание</dt>
        <dd>{{cafe.description}}</dd>
    </dl>
    <div *ngIf="cafe.place">
        <lt-select-point [isEditMode]="false" [(point)]="cafe.place"></lt-select-point>
    </div>
</div>

<form *ngIf="isEditMode" class="form-horizontal">
    <div class="form-group">
        <label>
            Название
            <input [(ngModel)]="cafe.name" type="text" name="name" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>
            Адрес
            <input [(ngModel)]="cafe.address" type="text" name="address" class="form-control">
        </label>
    </div>
    <div class="form-group">
        <label>
            Описание
            <textarea [(ngModel)]="cafe.description" name="description" class="form-control"></textarea>
        </label>
    </div>
    <div>
        <lt-select-point [isEditMode]="true" [(point)]="cafe.place"></lt-select-point>
    </div>
</form>
