<div *ngIf="!isEditMode">
    <div class="row">
        <div class="col-md-6">
            <dl>
                <dt>Название</dt>
                <dd>{{cafe.name}}</dd>
            </dl>
            <dl>
                <dt>Адрес</dt>
                <dd>{{cafe.address}}</dd>
            </dl>
            <dl>
                <dt>Описание</dt>
                <dd>{{cafe.description}}</dd>
            </dl>
        </div>
        <div class="col-md-6">
            <img [src]="cafe.photoUrl" [alt]="cafe.name" [ltDefaultImage]="'./no_image.png'">
        </div>
    </div>

    <div *ngIf="cafe.place" class="row">
        <lt-select-point [isEditMode]="false" [(point)]="cafe.place"></lt-select-point>
    </div>
</div>

<form #form="ngForm" *ngIf="isEditMode" class="form-horizontal cafe-form">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group" [class.has-error]="hasError(name)">
                <label>
                    Название
                    <input #name="ngModel"
                           [(ngModel)]="cafe.name"
                           type="text"
                           name="name"
                           required
                           class="form-control">
                </label>
                <div *ngIf="hasError(name)" class="text-danger">
                    <p *ngIf="name.errors.required">
                        Название необходимо для кафе
                    </p>
                </div>
            </div>
            <div class="form-group" [class.has-error]="hasError(address)">
                <label>
                    Адрес
                    <input #address="ngModel"
                           [(ngModel)]="cafe.address"
                           type="text"
                           name="address"
                           required
                           class="form-control">
                </label>
                <div *ngIf="hasError(address)" class="text-danger">
                    <p *ngIf="address.errors.required">
                        Адрес необходим для кафе
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label>
                    Описание
                    <textarea [(ngModel)]="cafe.description"
                              name="description"
                              class="form-control"></textarea>
                </label>
            </div>
        </div>
        <div class="col-md-6 image-container">
            <lt-image-uploader></lt-image-uploader>
        </div>
    </div>

    <div class="row">
        <lt-select-point [isEditMode]="true" [(point)]="cafe.place"></lt-select-point>
    </div>
</form>
