<div class="row">
    <div class="col-md-6">

    </div>
    <div class="col-md-6">
        <div class="select-point">
            <lt-select-point #selectPoint [(point)]="currentPlace"></lt-select-point>
        </div>

        <div class="btn-group btn-group-justified">
            <a ltEmptyLink (click)="updatePlace()" class="btn btn-success">Сохранить</a>
            <a ltEmptyLink (click)="resetPoint()" class="btn btn-warning">Сбросить</a>
            <a ltEmptyLink (click)="selectPoint.deletePoint()" class="btn btn-danger">Удалить</a>
        </div>
    </div>
</div>
