<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/">
                Lunch
                <i class="glyphicon glyphicon-bell"></i>
            </a>
        </div>

        <div>
            <ul class="nav navbar-nav">
                <li routerLinkActive="active">
                    <a routerLink="/map">Map</a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/places">Places</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="!(currentUser | async)">
                    <popover-content #signInPopover [closeOnClickOutside]="true">
                        <ul class="list-inline social-buttons">
                            <li *ngFor="let authType of socialAuthTypes">
                                <img [src]="authType.logoUrl" [alt]="authType.name" (click)="authType.action()">
                            </li>
                        </ul>
                        <a routerLink="/login">Local</a>
                    </popover-content>
                    <a ltEmptyLink [popover]="signInPopover">Sign In</a>
                </li>

                <li *ngIf="currentUser | async" dropdown>
                    <a ltEmptyLink dropdown-open>
                        {{(currentUser | async)?.fullName}}
                        <i class="caret"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li *ngFor="let item of menuItems">
                            <a ltEmptyLink (click)="item.action()">{{item.title}}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
