<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Lunch
                <i class="glyphicon glyphicon-bell"></i>
            </a>
        </div>

        <div>
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">Map</a>
                </li>
                <li><a href="#">Places</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">User</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
